@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>@Html.DisplayFor(model => model.StylistName)</h2>

@Html.ActionLink("Edit", "Edit", new {id = Model.StylistId}, new{@class="btn btn-lg"})
@Html.ActionLink("Delete", "Delete", new {id = Model.StylistId}, new{@class="btn btn-lg"})
@Html.ActionLink("Add Customer", "Create", "Customers", new {stylistId = Model.StylistId, stylistName = Model.StylistName}, new{@class="btn btn-lg"})

<ul>
  @foreach(Customer customer in Model.Customers)
  {
    <li>@Html.ActionLink($"{customer.CustomerName}", "Details", "Customers", new {id = customer.CustomerId})</li>
  }
</ul>